fastapi
uvicorn
python-multipart
python-dotenv
pydantic[email]
SQLAlchemy
aiomysql
alembic
redis
fastapi-mail
PyJWT
aio-pika
pwdlib
langgraph
langchain
langchain-community
langchain-deepseek
langchain-ollama
langchain-chroma
chromadb
pypdf
psycopg[binary,pool]
psycopg-pool
